.root{
    /* CSS HEX */
    --blue: #26547cff;
    --pink: #ef476fff;
    --yellow: #ffd166ff;
    --green: #06d6a0ff;
    --white: #fffcf9ff;
    
    /* CSS HSL */
    --blue: hsla(208, 53%, 32%, 1);
    --pink: hsla(346, 84%, 61%, 1);
    --yellow: hsla(42, 100%, 70%, 1);
    --green: hsla(164, 95%, 43%, 1);
    --white: hsla(30, 100%, 99%, 1);
}
    
    /* SCSS HEX */
    $blue: #26547cff;
$pink: #ef476fff;
$yellow: #ffd166ff;
$green: #06d6a0ff;
$white: #fffcf9ff;

/* SCSS HSL */
$blue: hsla(208, 53%, 32%, 1);
$pink: hsla(346, 84%, 61%, 1);
$yellow: hsla(42, 100%, 70%, 1);
$green: hsla(164, 95%, 43%, 1);
$white: hsla(30, 100%, 99%, 1);

/* SCSS RGB */
$blue: rgba(38, 84, 124, 1);
$pink: rgba(239, 71, 111, 1);
$yellow: rgba(255, 209, 102, 1);
$green: rgba(6, 214, 160, 1);
$white: rgba(255, 252, 249, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-right: linear-gradient(90deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-bottom: linear-gradient(180deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-left: linear-gradient(270deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-top-right: linear-gradient(45deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-bottom-right: linear-gradient(135deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-top-left: linear-gradient(225deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-bottom-left: linear-gradient(315deg, #26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);
$gradient-radial: radial-gradient(#26547cff, #ef476fff, #ffd166ff, #06d6a0ff, #fffcf9ff);



$primary: #554df1;
$secondary: $pink;
$white: $white;
$ambre: #4d4d4d;

$light: #858585;

$text: #535353;
$dark: #303030;

$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #c32aa3;
$github: rgb(32, 32, 32);


$colors: ("primary": $primary,
          "secondary": $secondary,
          "ambre": #4d4d4d,
          "text": #272727,
          "white": $white,
          "light": $light);