.site{
    min-height: 200vh;
    margin-bottom: 50vh;
    position: relative;
    width: 100%;
    .content{
        position: relative;
        transition: all .3s;
    }
    .sidebar{
        transition: all .3s;
    }
}