.site{
    min-height: 200vh;
    margin-bottom: 50vh;
    overflow-x: hidden;
    position: relative;
    .content{
        position: relative;
        transition: all .3s;
    }
    .sidebar{
        transition: all .3s;
    }
}