.img-100{max-width: 100%;}
.img-80{max-width: 80%;}
.img-60{max-width: 60%;}
.img-50{max-width: 50%;}


.skill_icon{
    height: 140px;
    filter: grayscale(1);
    img{
        transition: .3s;
    }
    &:hover{
        filter: grayscale(0);
        opacity: 1;
        img{
            transform: scale(1.1);
        }
    }
}