*{
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-size: 14px;

    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    width: 100vw !important;

    overflow-x: hidden !important;

    color: $text;
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        color: $secondary;
    }
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    flex-direction: column;
}

.fjcs{justify-content: flex-start;}
.fjce{justify-content: flex-end;}
.fjca{justify-content: space-around;}
.fjcb{justify-content: space-between;}

.fais{align-items: flex-start;}
.faie{align-items: flex-end;}
.faib{align-items: baseline;}
.faic{align-items: center;}

.center{
    text-align: center;
}
ul, li {
    list-style: none;
}
// .m0{margin: 0em;}
// .m1{margin: 1em;}
// .m2{margin: 1.5em;}
// .m3{margin: 2em;}
// .m4{margin: 2.5em;}
// .m5{margin: 3em;}

// .p1{padding: 0.5em;}
// .p2{padding: 1em;}
// .p3{padding: 1.5em;}
// .p4{padding: 2em;}
// .p5{padding: 2.5em;}

.w-100{width: 100%;}
.w-80{width: 80%;}
.h100{height: 100%;}

.border-left{border-left: 1px solid lightgray;}
.border-right{border-right: 1px solid lightgray;}
.border-top{border-top: 1px solid lightgray;}
.border-bottom{border-bottom: 1px solid lightgray;}
.border{border: 1px solid lightgray;}


.uppercase{text-transform: uppercase;}
.capitalize{text-transform: capitalize;}


.facebook{color: $facebook;}
.twitter{color: $twitter;}
.instagram{color: $instagram;}
.github{color: $github;}

.text-right{
    text-align: right;
}

p{
    line-height: 2em;
}

.align-self-start{
    align-self: flex-start;
}

.text-justify{
    text-align: justify;
}
.flex-wrap{
    flex-wrap: wrap;
}

.d-none{
    display: none;
}

.sm-d-none{display: none;}

.xs-order-1{order: 1}
.xs-order-2{order: 2}

@media (min-width: 576px)  {

}
@media (min-width: 768px)  {
}
@media (min-width: 992px)  {
    .sm-d-none{display: none !important;}
    .xs-order-1{order: unset}
    .xs-order-2{order: unset}
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}